fastapi==0.113.0
uvicorn==0.30.6
pymilvus==2.4.6
llamaapi==0.1.36
langchain==0.2.16s
langchain_community==0.2.16
langchain_openai==0.1.23
langchain_core==0.1.23
pandas==2.2.2
numpy==2.4.6
tqdm==2.4.6
torch==2.4.1
transformers==4.66.5
requests==2.32.3